# 빌드 결과물
/target/

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# 프로젝트 설정 파일 (STS, IntelliJ, VSCode 등)
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

.idea/
*.iml
*.ipr
*.iws

.vscode/

# 로그/환경파일
*.log
*.env

# OS별 불필요 파일
.DS_Store
Thumbs.db

# 테스트 빌드나 기타 디렉토리
/nbbuild/
/build/
/dist/
/out/

# 특정 IDE 빌드 폴더
**/build/
**/out/
